body {
    background-color: black;
}

#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border: 5px solid white;
    background-color: #c3eaea;
}

#playerImage, #backgroundImage, #enemyImage, #playerImageRichard {
    display:none;
}


h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 42px;
}


h1 {
    font-family: 'SilkScreen';
    font-size: 84px;
    color: white;
    text-align: center;
    
}


#playerimage img  .leftDirection { transform: rotateX(180deg);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

#playerimage img .leftDirection {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}